{% extends 'base.html' %}

{% block title %} Sorry! {% endblock %}
    {% block content %}
    <div class="container-fluid bg-page">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-10 my-3 p-4">
                <h2>Sorry, but we are fully booked for this date and time.</h2>
                <h3>Please choose another date or time <a class="red link" href="{% url 'book_table' %}">here</a></h3>
            </div>
        </div>
    </div>
    {% endblock %}