<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View Reservations</h1>

    <ul>
        {% for r in reservation %}
            <li>Name: {{ r.name }}</li>
            <li>Email: {{ r.email }}</li>
            <li>Phone: {{ r.phone }}</li>
            <li>Number of Persons: {{ r.number_of_persons }}</li>
            <li>Date: {{ r.date }}</li>
            <li>Time: {{ r.time }}</li>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>