@import url('https://fonts.googleapis.com/css2?family=Quando&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&family=Simonetta&display=swap');


body {
    font-family: Roboto, sans-serif;
}


/* Headings*/
h1, h2 {
    font-family: Quando, sans-serif;
}

h3 {
    font-family: Simonetta, sans-serif;
}

/* Navigation */
.navbar{
    background-color: #f4bb5f;
    width: 100%;
}

.brand {
    color: #B4000F;
    font-family: Quando, sans-serif;
    font-size: 180%;
    font-weight:bold;
}

.nav-link {
    font-family: Quando, sans-serif;
    font-size: 130%;
    color: black;
}

.nav-link:hover {
    color: #B4000F;
}

.navbar-nav .nav-link.active {
    color: #B4000F; 
}

/* Images */
.hero-image {
    width: 100%;
}


/* Footer */
.footer {
    background-color: #f4bb5f;
}