@import url('https://fonts.googleapis.com/css2?family=Quando&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

/* Navigation */
.navbar{
    background-color: #fff;
}

.brand {
    color: #B4000F;
    font-family: Quando, sans-serif;
}

.nav-link {
    color: #597718;
    font-family: Quando, sans-serif;
}

/* Hero image */
.hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 300px;
    width: auto;
    background-repeat: no-repeat center center;
}