@import url('https://fonts.googleapis.com/css2?family=Quando&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,700;1,300;1,400&family=Simonetta&display=swap');

/* Colors */
.red {
    color: #B4000F;
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}


/* Headings*/
h1, h2, h6 {
    font-family: Quando, sans-serif;
}

h3, h4 {
    font-family: Simonetta, sans-serif;
}

/* Navigation */
.navbar{
    background: url(https://res.cloudinary.com/dmis4h4nh/image/upload/v1700468226/kj0pzzzleyqugqxjwmxc.jpg);
    width: 100%;
}

.brand {
    color: #fff;
    font-family: Quando, sans-serif;
    font-size: 180%;
    font-weight:bold;
}

.brand:hover {
    color: #FCF55F;
}

.nav-link {
    font-family: Quando, sans-serif;
    font-size: 130%;
    color: #fff;
}

.nav-link:hover {
    color: #FCF55F;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: #FCF55F;
}

/* Images */
.hero-image {
    width: 100%;
}

.dinner {
    border-radius: 100px;
}

/* Content index.html */
.cta {
    width: 100%;
    height: 130px;
    background-color: #FFAA33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}

.cta-link {
    color: black;
    font-family: Quando, sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
}

.cta:hover {
    background-color: #b3dfec;
}

.contact-link:hover {
    color: #f4bb5f;
}


/* Footer */
.footer {
    background: url(https://res.cloudinary.com/dmis4h4nh/image/upload/v1700468226/kj0pzzzleyqugqxjwmxc.jpg);
}

.socials, .about, .footer-link, .footer-contact {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.about, .footer-link, .footer-contact {
    border-radius: 25px;
}