{% extends 'base.html' %}

{% block title %} Menu {% endblock %}
    {% block content %}
        <div class="container-fluid img-fluid bg-menu">
            <div class="row justify-content-center">
                <div class="col-10 col-md-8 text-center my-3 p-3 menu">
                    <h1 class="mt-4">Menu</h1>
                    <br>
                    <br>

                    <h2>Antipasti</h2>
                    <ul>
                        {% for item in menu_items %}
                            {% if item.course == 'Antipasti' %}
                                <li>
                                    <h4><span class="menu-name">{{ item.name }}</span> <br>
                                    <span class="menu-description">{{ item.description }}</span> <br>
                                    <span class="menu-price">{{ item.price }} €</span>
                                    </h4>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <br>
                    <h2>Primi Piatti</h2>
                    <ul>
                        {% for item in menu_items %}
                            {% if item.course == 'Primi Piatti' %}
                            <li>
                                <h4><span class="menu-name">{{ item.name }}</span> <br>
                                <span class="menu-description">{{ item.description }}</span> <br>
                                <span class="menu-price">{{ item.price }} €</span>
                                </h4>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <br>
                    <h2>Secondi Piatti</h2>
                    <ul>
                        {% for item in menu_items %}
                            {% if item.course == 'Secondi Piatti' %}
                            <li>
                                <h4><span class="menu-name">{{ item.name }}</span> <br>
                                <span class="menu-description">{{ item.description }}</span> <br>
                                <span class="menu-price">{{ item.price }} €</span>
                                </h4>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <br>
                    <h2>Dolci</h2>
                    <ul>
                        {% for item in menu_items %}
                            {% if item.course == 'Dolci' %}
                            <li>
                                <h4><span class="menu-name">{{ item.name }}</span> <br>
                                <span class="menu-description">{{ item.description }}</span> <br>
                                <span class="menu-price">{{ item.price }} €</span>
                                </h4>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
