{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid img-fluid bg-page">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 text-center my-3 p-3 ">
            <h1 class="red">Benvenuti a casa della Nonna!</h1>
            <h3 class="mb-3"><em>A restaurant where nostalgia of Italian flavors unfolds in the warmth of your grandmother's kitchen</em></h3>
            <div class="container-fluid mb-4">
                <img class="img-fluid dinner" src="https://res.cloudinary.com/dmis4h4nh/image/upload/v1700314250/wvkps7ktvmg6etibrase.jpg" alt="family eating dinner">
            </div>
            <h4>Do you miss the soul-nourishing magic of Nonna's cooking? Are you in search of an unfiltered, authentic Italian culinary journey? </h4>
            <br>
            <div>
                <a class="cta-link" href="{% url 'menu' %}">
                    <div class="cta">Browse Menu</div>
                </a>
            </div>
            <br>
            <div>
                <h4>Step into <span class="red">La Nonna</span>, our enchanting Italian pop-up restaurant designed to sweep you away on a nostalgic adventure. Picture a cozy, intimate dining experience, reminiscent of visits to your grandmother's home. Here, the menu is a canvas painted with Italian classics, each stroke inspired by the ever-changing dance of seasonal, fresh ingredients.
                <br>
                <br>
                In the spirit of Nonna's welcoming abode, we've intentionally kept things intimate. Our limited seating ensures you not only savor the flavors but also relish the familial atmosphere. If your party exceeds six, don't hesitate to <a class="red link" href="{% url 'contact_us' %}"><b>reach out</b></a> – we'll gladly arrange a larger table, ensuring everyone feels right at home.
                <br>
                <br>
                Indulge in the warmth of Nonna's home, where every bite tells a story, and every moment feels like a cherished memory. Join us, and let the aroma of authentic Italian cuisine transport you to the heart of your nonna's kitchen.</h4>
            </div>
            <div>
                <a class="cta-link" href="{% url 'book_table' %}">
                    <div class="cta">Dine with us</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}