{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}
    {% block content %}
    <div class="container-fluid bg-page">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-10 my-3 p-4">
                <h1 class="red">Contact us</h1>
                <form method="POST" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <p>
                            <button class="btn btn-lg button" type="submit">Send</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}